@model WebApplication.Models.Client.CustomerModel
@{
    ViewBag.Title = "Index";
    var Point = Model.PointActive - Model.PointPayment;
}
<style>

    #box-result {
        display: none;
        margin-top: 50px;
    }

    .hidden {
        display: none;
    }

    input, select {
        max-width: 80% !important;
        padding-left: 50px !important;
    }

    .btn-default {
        border: 1px solid gray;
    }

    .view-more {
        padding-top: 10px;
    }

    .title-bar {
        border-bottom: 1px solid #808080;
    }

    .table-content {
        padding: 25px 0;
    }

        .table-content table {
            background-color: #d1d1d1;
            width: 100%;
        }

            .table-content table tr th {
                background-color: #666666;
            }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ebebeb;
    }
</style>

<div class="home-act">
    <h2 class="text-center">THÔNG TIN KHÁCH HÀNG</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="home-act-content">
                <div class="form">
                    <form>
                        <div class="form-horizontal">
                            <div class="form-group">

                                <table class="col-md-12">
                                    <tr>
                                        <td><label class="control-label">Số điện thoại: </label></td>
                                        <td>
                                            <input class="form-control hidden" type="text" required id="Id" name="Id" value="@Model.Id" />
                                            <input class="form-control" disabled type="text" required id="PhoneC" name="Phone" value="@Model.Phone" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Email: </label></td>
                                        <td><input class="form-control" type="text" required id="Email" name="Email" value="@Model.Email" /></td>
                                    </tr>
                                    <tr>
                                        <td><label class="control-label">Họ tên: </label></td>
                                        <td><input class="form-control" type="text" required id="CusName" name="CusName" value="@Model.Name" /></td>
                                    </tr>

                                    @*@if (Model.Province != null)
                                    {
                                        <tr>
                                            <td><label class="control-label">Địa chỉ: </label></td>
                                            <td><input disabled class="form-control" type="text" required id="" name="" value="@Model.Address @Model.Ward @Model.District @Model.Province" /></td>
                                        </tr>

                                    }
                                    else
                                    {*@
                                        <tr>
                                            <td><label class="control-label">Thành phố/ Tỉnh: </label></td>
                                            <td>
                                                <select name="Province" id="Province" class="form-control">
                                                    @if (Model.Province != null)
                                                    {
                                                        <option value="@Model.Province" selected="@Model.Province">@Model.Province</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="" selected="">--Chọn--</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">Quận/ Huyện: </label></td>
                                            <td>
                                                <select name="District" id="District" class="form-control">
                                                    @if (Model.District != null)
                                                    {
                                                        <option value="@Model.District" selected="@Model.District">@Model.District</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="" selected="">--Chọn--</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">Phường/ Xã: </label></td>
                                            <td>
                                                <select name="Ward" id="Ward" class="form-control">
                                                    @if (Model.Ward != null)
                                                    {
                                                        <option value="@Model.Ward" selected="@Model.Ward">@Model.Ward</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="" selected="">--Chọn--</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label">Địa chỉ: </label></td>
                                            <td><input class="form-control" type="text" required id="Address" name="Address" value="@Model.Address" /></td>
                                        </tr>
                                    @*}*@
                                    <tr>
                                        <td><label class="control-label">Điểm thưởng: </label></td>
                                        <td><input class="form-control" type="text" disabled required id="" name="" value="@Point" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="text-right">
                                <a href="/doi-qua" class="btn btn-danger rounded-pill"> ĐỔI THƯỞNG</a>
                                <button type="button" class="btn btn-default rounded-pill" onclick="sendForm()"> CẬP NHẬT THÔNG TIN</button>
                                <a href="https://shop.elmich.vn/" target="_blank" class="btn btn-default rounded-pill">MUA HÀNG ONLINE</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <img src="~/image/ajax-loader.gif" class="loader" id="loader" style="display:none;" />
            <div class="alert alert-success w3-animate-right" id="box-result">
                <div class="panel">
                    <p class="message" id="rMessage"></p>
                </div>
            </div>
        </div>
    </div>

    <div style="border-top: 1px solid #b5b4b4; margin: 25px 0;"></div>
    <div class="title-bar">
        <div class="row">
            <h3 class="col-md-3">LỊCH SỬ KÍCH HOẠT</h3>
            <div class="col-md-3 view-more">
                <div onclick="viewmore()" id="btn-more">
                    <i class="fa fa-chevron-circle-right"></i>
                    Xem thêm
                </div>
                <div onclick="viewoff()" id="btn-off">
                    <i class="fa fa-chevron-circle-down"></i>
                    Thu gọn
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="/kich-hoat" class="btn btn-default rounded-pill">Kích hoạt</a>
            </div>
        </div>
    </div>
    <div class="table-content">
        <div class="list-history">
            <table class="table table-striped table-bordered" id="table-active">
                <thead>
                    <tr>
                        <th>Mã cào</th>
                        <th>Model</th>
                        <th>Ngày KH</th>
                        <th>Hạn BH</th>
                        <th>Quà tặng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListActive)
                    {
                        <tr>
                            <td>@item.Code</td>
                            <td>@item.Model</td>
                            <td>
                                @if (item.Active_date != null)
                                {
                                    <span>@item.Active_date.Value.ToString("dd/MM/yyyy")</span>
                                }
                            </td>
                            <td>
                                @if (item.End_date != null)
                                {
                                    <span>@item.End_date.Value.ToString("dd/MM/yyyy")</span>
                                }
                            </td>
                            <td>
                                @foreach (var jtem in item.Process)
                                {
                                    //cộng tháng bảo hành
                                    if (jtem.Process == "CBH")
                                    {
                                        if (jtem.Status == false)
                                        {
                                            <a href="/Customer/AddWarranti/@jtem.Id" onclick="return confirm('Bạn muốn đổi quà?')" title="cộng bảo hành"><span class="btn-success txt-process">click để + @jtem.Quantity @jtem.Unit</span></a>
                                        }
                                        else
                                        {
                                            <span class="btn-success txt-process">đã + @jtem.Quantity @jtem.Unit</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="btn-success txt-process">+ @jtem.Quantity @jtem.Unit</span>
                                    }

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="title-bar">
        <div class="row">
            <h3 class="col-md-3">LỊCH SỬ ĐỔI THƯỞNG</h3>
            <div class="col-md-3 view-more">
                <div onclick="viewmore1()" id="btn-more1">
                    <i class="fa fa-chevron-circle-right"></i>
                    Xem thêm
                </div>
                <div onclick="viewoff1()" id="btn-off1">
                    <i class="fa fa-chevron-circle-down"></i>
                    Thu gọn
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="/doi-qua" class="btn btn-default rounded-pill">Đổi thưởng</a>
            </div>
        </div>
    </div>
    <div class="table-content">
        <div class="list-history">
            <table class="table table-bordered table-striped" id="table-bonus">
                <thead>
                    <tr>
                        <th>Quà tặng</th>
                        <th>Điểm đổi</th>
                        <th>Ngày đổi</th>
                        <th>Chi tiết</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListPayment)
                    {
                        <tr>
                            <td>@item.PayCate</td>
                            <td>@item.PointCharge</td>
                            <td>@item.Createdate.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.PayContent</td>
                            <td>
                                @if (item.Status == false)
                                {
                                    <span class="text-info"></span>
                                }
                                else
                                {
                                    <span class="text-success">Đã nhận</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="title-bar">
        <div class="row">
            <h3 class="col-md-3">LỊCH SỬ BẢO HÀNH</h3>
            <div class="col-md-3 view-more">
                <div onclick="viewmore2()" id="btn-more2">
                    <i class="fa fa-chevron-circle-right"></i>
                    Xem thêm
                </div>
                <div onclick="viewoff2()" id="btn-off2">
                    <i class="fa fa-chevron-circle-down"></i>
                    Thu gọn
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="/bao-hanh" class="btn btn-default rounded-pill">Yêu cầu bảo hành</a>
            </div>
        </div>
    </div>

    <div class="table-content">
        <div class="list-history">
            <table class="table table-bordered table-striped" id="table-war">
                <thead>
                    <tr>
                        <th>Mã cào</th>
                        <th>Model</th>
                        <th>Ngày yêu cầu</th>
                        <th>Hạn BH</th>
                        <th>Lỗi</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListWarranti)
                    {
                        <tr>
                            <td>@item.ProductCode</td>
                            <td>@item.Model</td>
                            <td>
                                @item.Createdate.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @if (item.Deadline != null)
                                {
                                    @item.Deadline.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td style="text-align:left">
                                - @item.Note<br />
                                - @item.Successnote
                            </td>
                            <td>
                                @if (item.Status == 0)
                                {
                                    <span class="alert-danger">Mới tạo</span>
                                }
                                else if (item.Status == 1)
                                {
                                    <span class="alert-success">Hoàn thành</span>
                                }
                                else if (item.Status == 2)
                                {
                                    <span class="alert-primary">Chuyển trạm</span>
                                }
                                else if (item.Status == 3)
                                {
                                    <span class="alert-primary"></span>
                                }
                                else if (item.Status == 4)
                                {
                                    <span class="alert-dark">Từ chối</span>
                                }
                                else if (item.Status == 5)
                                {
                                    <span class="alert-warning">Đang xử lý</span>
                                }
                                else if (item.Status == 6)
                                {
                                    <span class="alert-warning">Đem về trạm</span>
                                }
                                else if (item.Status == 7)
                                {
                                    <span class="alert-warning">Đợi linh kiện</span>
                                }
                                else if (item.Status == 8)
                                {
                                    <span class="alert-info">chờ phản hồi</span>
                                }
                                else if (item.Status == 9)
                                {
                                    <span class="alert-dark">Hủy bỏ</span>
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table-active').css('display', 'none');
            $('#btn-off').css('display', 'none');

            $('#table-bonus').css('display', 'none');
            $('#btn-off1').css('display', 'none');

            $('#table-war').css('display', 'none');
            $('#btn-off2').css('display', 'none');
        });
        function viewmore() {
            $('#table-active').css('display', 'table');
            $('#btn-off').css('display', 'block');
            $('#btn-more').css('display', 'none');
        }
        function viewoff() {
            $('#table-active').css('display', 'none');
            $('#btn-off').css('display', 'none');
            $('#btn-more').css('display', 'block');
        }

        function viewmore1() {
            $('#table-bonus').css('display', 'table');
            $('#btn-off1').css('display', 'block');
            $('#btn-more1').css('display', 'none');
        }
        function viewoff1() {
            $('#table-bonus').css('display', 'none');
            $('#btn-off1').css('display', 'none');
            $('#btn-more1').css('display', 'block');
        }

        function viewmore2() {
            $('#table-war').css('display', 'table');
            $('#btn-off2').css('display', 'block');
            $('#btn-more2').css('display', 'none');
        }
        function viewoff2() {
            $('#table-war').css('display', 'none');
            $('#btn-off2').css('display', 'none');
            $('#btn-more2').css('display', 'block');
        }

        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["DOMAIN"]';

        function sendForm() {
            //reset result
            $("#table-result").css("display", "none");
            $("#box-result").css("display", "none");
            $('#loader').css('display', 'block');

            var Id = $('#Id').val();
            var Phone = $('#PhoneC').val();
            var email = $('#Email').val();
            var cusname = $('#CusName').val();
            var province = $('#Province').val();
            var district = $('#District').val();
            var ward = $('#Ward').val();
            var address = $('#Address').val();

            $.ajax({
                url: apiUrl +'/api/action/updateinfo',
                type: 'POST',
                dataType: 'json',
                data: {
                    Id: Id, Email: email, CusName: cusname,
                    Province: province, District: district, Ward: ward, Address: address, Phone: Phone
                },
                success: function (result) {
                    //hien thi message
                    $('#loader').css('display', 'none');
                    $("#box-result").css("display", "block");
                    $('#rMessage').html(result.Message);

                    setTimeout(function () { $("#box-result").css("display", "none"); }, 5000);
                }
            });

        }
        $("#Province").click(function () {
            $.ajax
                ({
                    url: apiUrl +'/api/action/getprovince',
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $("#District").empty();
                        $("#Ward").empty();
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#Province option").length < 3) {

                                $.each(product, function (i, province) {
                                    $("#Province").append($('<option></option>').val(province).html(province))
                                })
                            }
                        }
                    }
                });
        });
        $("#District").click(function () {
            var name = $("#Province").val();
            $.ajax
                ({
                    url: apiUrl +'/api/action/getdistrict?province=' + name,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        $("#Ward").empty();
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#District option").length < 3) {
                                $.each(product, function (i, district) {
                                    $("#District").append($('<option></option>').val(district).html(district))
                                })
                            }
                        }
                    }
                });
        });
        $("#Ward").click(function () {
            var name = $("#District").val();
            $.ajax
                ({
                    url: apiUrl +'/api/action/getward?district=' + name,
                    type: 'GET',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.Data.length > 0) {
                            var product = result.Data;
                            if ($("#Ward option").length < 3) {
                                $.each(product, function (i, ward) {
                                    $("#Ward").append($('<option></option>').val(ward).html(ward))
                                })
                            }
                        }
                    }
                });
        });
    </script>
}