@model PagedList.IPagedList<WebApplication.Models.Move_Price>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PriceMove";
    var index = 0;
}


<!-- validation by Bootstrap -->
<div class="card">
    <div class="card-header">Form filter</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-2 mb-2">
                            <label for="ticket-name" class="col-form-label">Tìm kiếm</label>
                            <div class="">
                                <input type="text" class="form-control" name="textsearch" value="@ViewBag.textsearch">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="ticket-type" class="col-sm-9 col-form-label">Ngày tạo</label>
                            <div class="input-daterange input-group" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input class="form-control" name="start_date" value="@ViewBag.start_date">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">to</span>
                                </div>
                                <input class="form-control" name="end_date" value="@ViewBag.end_date">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit"><i class="ti ti-filter"></i> Tìm kiếm</button>
                    <a class="btn btn-info" href="#" id="add"><i class="ti ti-plus"></i> Tạo mới</a>
                    <a class="btn btn-warning" href="/admin/pricemove/uploadfile"><i class="ti ti-import"></i> Upload file</a>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Table database</h3>
    </div>
    <div class="card-body">
        <table class="table table-sm" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Khoảng cách</th>
                    <th>Giá</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.Createdate != null)
                            {@item.Createdate.Value.ToString("dd/MM/yyyy")}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-light edit" href="#"><i class="ti ti-pencil-alt"></i></a>
                                @if (User.IsInRole("Admin - Quản trị toàn hệ thống"))
                                {
                                    <a class="btn btn-outline-light" href="/admin/pricemove/delete/@item.Id" onclick="return confirm('Bạn muốn xóa dòng này?')" title="xóa tài khoản"><i class="ti ti-trash text-danger"></i></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="showing">Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            </div>
            <div class="col-sm-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, textsearch = ViewBag.textsearch, chanel = ViewBag.chanel, status = ViewBag.status, start_date = ViewBag.start_date, end_date = ViewBag.end_date }))
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#add").click(function () {
            $.ajax({
                type: "POST",
                url: "/Admin/PriceMove/Create",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
        $("#table .edit").click(function () {
            var Id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Admin/PriceMove/Edit",
                data: '{Id: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
    </script>
}