@model WebApplication.Models.B_Voucher
@{

}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Thông tin Voucher</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("EditConfirm", "B_Voucher", new { area = "Admin" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Createdate)
            @Html.HiddenFor(model => model.Createby)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.Activedate)
            @Html.HiddenFor(model => model.PhoneActive)
            <div class="form-group">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã" } })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mệnh giá" } })
            </div>

            <div class="form-group">
                @Html.TextAreaFor(model => model.Cate, new { @class = "form-control", @placeholder = "Phân loại" })
            </div>
            <div class="form-group text-center">
                @if (Model.PhoneActive == null)
                {
                    <button type="submit" class="btn btn-primary"><i class="ti ti-check"></i> Lưu</button>
                }
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ti ti-close"></i> Thoát</button>
            </div>

        </div>
        }
    </div>
</div>


