@model PagedList.IPagedList<WebApplication.Areas.Admin.Data.CustomerView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Customer";
    var index = 0;
}
<!-- validation by Bootstrap -->
<div class="card">
    <div class="card-header">Form filter</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-2 mb-2">
                            <label for="ticket-name" class="col-form-label">Tìm kiếm</label>
                            <div class="">
                                <input type="text" class="form-control" name="textsearch" value="@ViewBag.textsearch">
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="ticket-type" class="col-sm-9 col-form-label">Kênh</label>
                            <div class="">
                                @Html.DropDownList("chanel", new List<SelectListItem>{
                                new SelectListItem { Value = "" , Text = "--chọn--" },
                                new SelectListItem { Value = "WEB" , Text = "WEB" },
                                new SelectListItem { Value = "APP" , Text = "APP" },
                                new SelectListItem { Value = "SMS" , Text = "SMS" },
                                new SelectListItem { Value = "CSKH" , Text = "CSKH" }}, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="ticket-type" class="col-sm-9 col-form-label">Ngày tạo</label>
                            <div class="input-daterange input-group" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                <input class="form-control" name="start_date" value="@ViewBag.start_date">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">to</span>
                                </div>
                                <input class="form-control" name="end_date" value="@ViewBag.end_date">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit"><i class="ti ti-filter"></i> Tìm kiếm</button>
                    @if (User.IsInRole("Admin - Quản trị toàn hệ thống"))
                    {
                        <a class="btn btn-info" id="add" href="#"><i class="ti ti-plus"></i> Tạo mới</a>
                        <a class="btn btn-success" href="/Admin/Customer/Khachhang"><i class="ti ti-export"></i> Xuất file</a>
                    }
                </form>
            </div>

        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Table database</h3>
    </div>
    <div class="card-body">
        <table class="table table-sm" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Họ tên</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Ngày tạo</th>
                    <th>Kênh</th>
                    <th>Kích hoạt</th>
                    <th>Bảo hành</th>
                    <th>Điểm</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    index++;
                    var Point = item.PointActive - item.PointPayment;
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>
                            @if (item.Createdate != null)
                            {@item.Createdate.Value.ToString("dd/MM/yyyy")}
                        </td>
                        <td>@item.Chanel</td>
                        <td>
                            @item.CountActive
                        </td>

                        <td>
                            @item.CountWarranti
                        </td>
                        <td>@Point</td>
                        <td>
                            <div class="btn-group">
                                @if (User.IsInRole("Admin - Quản trị toàn hệ thống"))
                                {
                                    <a class="btn btn-outline-light edit" href="#" title="chỉnh sửa"><i class="ti ti-pencil-alt"></i></a>
                                }
                                <a class="btn btn-success" href="/Admin/Product/Index?phone=@item.Phone" title="ds sản phẩm"><i class="ti ti-check"></i></a>
                                <a class="btn btn-warning" href="/Admin/Warranti/Index?phone=@item.Phone" title="ds bảo hành"><i class="ti ti-support"></i></a>
                                @*@if (item.PointActive > 0)
                                {
                                    <a class="btn btn-danger" href="/Admin/B_Active/Index?phone=@item.Phone"><i class="ti ti-gift"></i></a>
                                }*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="showing">Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            </div>
            <div class="col-sm-6">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, textsearch = ViewBag.textsearch, chanel = ViewBag.chanel, status = ViewBag.status, start_date = ViewBag.start_date, end_date = ViewBag.end_date }))
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#add").click(function () {
            $.ajax({
                type: "POST",
                url: "/Admin/Customer/Create",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
        $("#table .edit").click(function () {
            var Id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Admin/Customer/Edit",
                data: '{Id: "' + Id + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#createbody').html(response);
                    $('#createmodal').modal('show');
                }
            });
        });
    </script>
}